# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
src
bin
1.21.6/server/build/classes
1.21.6/server/build/generated
1.21.6/server/build/reports
1.21.6/server/build/resources
1.21.6/server/build/tmp
!1.21.6/server/build/libs
!1.21.6/server/build/libs/**
